ul.terminal {
	margin: 0;
  padding: 5px;
  list-style: none;
  //background: #141414;
  color: #141414; //#45D40C;
  font: 0.8em 'Andale Mono', Consolas, 'Courier New';
  line-height: 1.6em;

	& > li {
		word-wrap: break-word;
	  position: relative;
	  padding: 0 0 0 25px;

		&:before {
		  position: absolute;
		  left: 0;
		  top: 0;
		}

		&.command {
			counter-reset: line;
			&:before {
			  content: '$';
				left: 10px;
			}
		}

    &:not(.command) {
			counter-increment: line;
			&:before {
	      content: '[ ' counter(line) ' ]';
				color: #777;
				right: 0;
				left: auto;
			}
		}

		&.ghostwriter:before {
			content: '';
			background: url(../img/icon-16.png) center center no-repeat;
			width: 24px;
			height: 24px;
			right: auto;
			left: 0;
			top: -4px;
		}
	}
}
