
<section id='tasks' class="ui-layout-west">
  <ul>
    <li><a href="#sources">Sources</a></li>
    <li><a href="#tabs-2">Project</a></li>
  </ul>
  <div id="sources">
    <p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
  </div>
  <div id="tabs-2">
    <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
  </div>
</section>
<section id='output' class="ui-layout-center">
  <ul>
    <li class="ui-state-default"><a class="ui-tabs-anchor">&nbsp;</a></li>
  </ul>
</section>
<section id='debug' class="ui-layout-east">
  <ul class="status-bar-list">
    <li><button class="status-bar-item play-status-bar-item" disabled="disabled" id="debug-action"><i class="glyph"></i></button></li>
    <li><button class="status-bar-item step-over-status-bar-item" disabled="disabled"><i class="glyph"></i></button></li>
    <li><button class="status-bar-item step-in-status-bar-item" disabled="disabled"><i class="glyph"></i></button></li>
    <li><button class="status-bar-item step-out-status-bar-item" disabled="disabled"><i class="glyph"></i></button></li>
    <li><button class="status-bar-item breakpoint-status-bar-item"><i class="glyph"></i></button></li>
    <li><button class="status-bar-item pause-on-exceptions-status-bar-item"><i class="glyph"></i></button></li>
  </ul>
  <div><!--
    <div>
      <h3>Threads</h3>
      <div><p>Main</p></div>
    </div>-->
    <div>
      <h3>Watch</h3>
      <div><p class="info">No Watch Expressions</p></div>
    </div>
    <div>
      <h3>Call Stack</h3>
      <div><p class="info">Not paused</p></div>
    </div>
    <div>
      <h3>Scope</h3>
      <div><p class="info">Not paused</p></div>
    </div>
    <div>
      <h3>Breakpoints</h3>
      <div><p class="info">No Breakpoints</p></div>
    </div>
    <div>
      <h3>XHR Breakpoints</h3>
      <div><p class="info">No Breakpoints</p></div>
    </div>
    <div>
      <h3>Event Listener Breakpoints</h3>
      <div><p>...</p></div>
    </div>
  </div>
</section>
<section id='status' class="ui-layout-south">
  <a href="#" id="back-projects" class="btn blue small no-border"><i class="fa fa-sign-out"></i> Projects</a>
  <ul class="terminal"></ul>
</section>
